
.pirmas, .antras,.vid, .desn{
    border: 2px solid red;
}


* {
    margin: 0;
    padding: 0;
}

body{
    background-color: lightgreen;
}

.container{
    width: 1200px;
    height: 1000px;
    margin: 20px auto;
    display: flex;
}


.column-1{
    display: flex;
    flex: 3;
    flex-direction: column;
    margin-right: 20px;
}

.pirmas-flex,
.didesnis,
.vid,
.desn{
    background-color: white;
}

.pirmas-flex{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 20px;
}

.pirmas-img,
.antras-img,
.trecias-img,
.ketvirtas-img{
    display: flex;
    flex: 1;
    align-self: flex-end;
    height: 300px;
}

.pirmas-img img,
.antras-img img,
.trecias-img img,
.ketvirtas-img img{
    width: 100%;
}




.antras-flex{
    display: flex;
    flex: 2;
    flex-wrap: wrap;
}
.didesnis{
    flex: 2;
    margin-right: 20px;
}


.viduriniai-visi{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.vid{
    flex: 1;
    overflow: hidden;
    margin-bottom: 20px;
}
.vid-1{
    flex: 2;
}

vid:last-child{
    margin: 0;
}

.column-2{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.desn{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    flex: 1;
}
.desn-virs{
    flex: 2;
}

.desn:last-child{
    margin:0;
}


.apacia{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 10px 10px;
}

p,h3{
    margin: 10px;
}



